# Git
.git/
.gitignore

# Documentacion
*.md
*.txt
LICENSE
img/
step-by-step

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# VM images
*.ova
*.vmdk
*.vdi
*.qcow2
*.img

# Docker override
docker-compose.override.yml
